.signup-box {
  background-color: #3c3d37;
  max-width: 30rem;

  margin: 50vh auto;
  padding: 2.5rem;
  border-radius: 0.8rem;
  color: #ecdfcc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateY(-50%);
}

.signup-box-header {
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.signup-title {
  color: #ecdfcc;
  font-size: 2.4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-input-box {
  display: flex;
  flex-direction: column;
}

.signup-input-field {
  padding: 1rem;
  border: 1px solid #697565;
  border-radius: 4px;
  background-color: #3c3d37;
  color: #ecdfcc;

  transition: background-color 150ms ease-in;
}

.signup-input-field:hover {
  background-color: rgba(89, 107, 89, 0.5);
}

.signup-input-field::placeholder {
  color: #a9a99a;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.submit-btn {
  background-color: #697565;
  color: #ecdfcc;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #596b59;
}

.sign-in-link {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.sign-in-link p,
.sign-in-link a {
  color: #ecdfcc;
  text-decoration: none;
}

.sign-in-link a {
  text-decoration: underline;
}
