.single-product {
  color: #ecdfcc;
  background-color: #3c3d37;

  width: 60vw;
  margin: 0 auto;
  padding: 2.4rem;
  border-radius: 1.4rem;

  display: flex;
  gap: 2rem;
}

.single-product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.single-product-title {
  font-size: 2.4rem;
  background-color: #697565;
  padding: 1.4rem;
  border-radius: 1.2rem;
}

.single-product-description,
.single-product-price,
.single-product-category {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}

.single-product-tags {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.product-tag {
  background-color: #697565;
  color: white;
  padding: 0.4rem 0.8rem;
  margin-left: 0.4rem;
  border-radius: 0.4rem;
}

.single-product-image {
  width: 25rem;
  height: auto;
  border-radius: 1.4rem;
  object-fit: contain;
}

.loading {
  text-align: center;
  font-size: 2.4rem;
  color: #ecdfcc;
}
