.about-container {
  width: 50rem;
  min-height: 40rem;
  padding: 3.2rem;
  border-radius: 1.4rem;

  margin: 0 auto;

  color: #ecdfcc;
  background-color: #3c3d37;
}

.title-wrapper {
  background-color: #697565;
  padding: 1.4rem;
  border-radius: 0.7rem;

  margin-bottom: 2.4rem;
}

.title {
  font-size: 3.2rem;
  text-align: center;
}

.description-wrapper {
}

.description {
  font-size: 1.4rem;
  line-height: 1.4;
  word-spacing: 0.4rem;
}
