.postContainer {
  margin: 0 auto 6.4rem auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.6rem;
}

.postHeader {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  text-shadow: 0 0 10px rgba(236, 223, 204, 0.8);

  color: #ecdfcc;
}

.postTitle {
  font-size: 3.2rem;

  color: #ecdfcc;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1.4rem;
}

.posts > .post {
  align-self: stretch;
}

.post {
  background-color: #3c3d37;
  color: #ecdfcc;
  height: 100%;

  max-width: 50rem;
  padding: 1.125rem;
  border-radius: 1.4rem;
  box-shadow: 0 0.25rem 0.5rem rgba(236, 223, 204, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;

  transition: transform 0.2s ease-in;
}

.post:hover {
  transform: translateY(-0.5rem);
}

.postTitle {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  padding: 1.4rem;
  border-radius: 1.2rem;

  background-color: #697565;
}

.postLink {
  color: rgba(0, 0, 0, 0);
}

.postContent {
  font-size: 1.4rem;
  line-height: 1.4;
}

.reactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;

  background-color: #697565;
  padding: 0.7rem;
  border-radius: 1.2rem;

  font-size: 1.4rem;
}

ion-icon {
  font-size: 2.8rem;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.dislike {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;
}

.postTags {
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.postViwes {
  font-size: 1.4rem;
  font-weight: 600;
  color: #837e76;
  margin-bottom: 1.125rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #ecdfcc;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
