.productContainer {
  margin: 0 auto 6.4rem auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.6rem;
}

.postHeader {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  text-shadow: 0 0 1rem rgba(236, 223, 204, 0.8);

  color: #ecdfcc;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 30px;
  cursor: pointer;
}

.productLink {
  color: rgba(0, 0, 0, 0);
}

.product {
  background-color: #3c3d37;
  color: #ecdfcc;
  min-height: 400px;
  border-radius: 1.4rem;

  display: flex;
  flex-direction: column;

  transition: transform 0.2s ease-in;
}

.product:hover {
  transform: translateY(-1.4rem);
}

.product-image {
  width: 100%;
}

.product-info {
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

.product-title {
  font-size: 1.4rem;
  color: #ecdfcc;
  margin-bottom: 0.8rem;
  padding: 1.2rem;
  border-radius: 1.2rem;

  background-color: #697565;
}

.product-description {
  font-size: 1rem;
  line-height: 1.4;

  margin: 15px 0px;
  color: #ecdfcc;
}

.product-price {
  font-size: 1.3rem;
  color: #dc9933;

  font-weight: bold;
  margin-top: auto;

  align-self: flex-end;
  margin-right: 1.6rem;
}

.product-filters {
  padding: 1.4rem;
  border-radius: 1.4rem;
  width: 93rem;
  background-color: #3c3d37;

  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
