.productContainer {
  margin: 0 auto 6.4rem auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1.6rem;
}

.postHeader {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  text-shadow: 0 0 1rem rgba(236, 223, 204, 0.8);

  color: #ecdfcc;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 30px;
  cursor: pointer;
}

.product-filters {
  padding: 1.4rem;
  border-radius: 1.4rem;
  width: 93rem;
  background-color: #3c3d37;

  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
