.post {
  width: 100%;
  padding: 24px;
  border-radius: 28px;

  background-color: #3c3d37;
  color: #ecdfcc;
}

.post-container {
  display: flex;
}

.post-container.reversed {
  flex-direction: row-reverse;
}

.post-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;

  object-fit: cover;
  border-radius: 50%;

  transition: transform 0.2s ease;
  cursor: pointer;
}

.post-image:hover {
  transform: scale(1.1);
}

.post-container.reversed .post-image {
  margin-right: 0;
  margin-left: 20px;
}

.post-content {
  display: flex;
  flex-direction: column;

  gap: 24px;
  flex: 1;
}

.post h2 {
  font-size: 32px;
}

.post a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(236, 223, 204, 0.5);
  transition: color 0.3s ease;

  margin-bottom: 32px;
}

.post a:hover {
  color: rgba(236, 223, 204, 1);
}

.post p {
  font-size: 18px;
  background-color: #697565;

  padding: 14px;
  border-radius: 14px;
}
