.not-found-container {
  background-color: #3c3d37;
  color: #ecdfcc;
  width: 30rem;
  padding: 2.4rem;
  border-radius: 1.4rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  align-items: center;
  justify-content: center;
}

.not-found-container h1 {
  font-size: 2.4rem;
}

.not-found-container p,
a {
  font-size: 1.2rem;
}

.not-found-container a {
  color: rgb(255, 217, 161);

  background-color: #697565;
  padding: 1.4rem;
  border-radius: 1.2rem;
}
