.search-input {
  padding: 0.7rem 1.4rem;
  border-radius: 0.8rem;
  border: none;

  font-size: 1.2rem;
  background-color: #697565;
  color: #ecdfcc;

  outline: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.search-input:focus,
.search-input:hover {
  border-color: #282825;
  background-color: #454b43;
}

.search-input:active {
  border-color: #282825;
  background-color: #454b43;
  color: #fff7ea;
}
